[submodule "LittleFunctions.xcodeproj/external/ReactiveCocoa"]
	path = LittleFunctions.xcodeproj/external/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "external/ReactiveCocoa"]
	path = external/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
